<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cairbnb</title>
</head>
<body>
    <h3>listing details:</h3>
    <ul>
        <li><%= list.title %></li>
        <li><%= list.description %></li>
        <li>$<%= list.price.toLocaleString("en-US") %></li>
        <li><%= list.location %></li>
        <li><%= list.country %></li>
    </ul>
    <a href="/listings/<%= list._id %>/edit"><button>edit these details</button></a>
    <form method="post" action="/listings/<%= list._id %>?_method=delete">
        <button>Delete</button>
    </form>
</body>
</html>